<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-toolbar>

      <ion-title align-self-center>
        <img src="./assets/imgs/qme_web_light.png" height="80px" />
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only style="color:purple" (click)="openShoppingCart()" padding-right>
          <ion-icon name="cart">
          </ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>

  <!-- <ion-navbar>
    <ion-grid>
      <ion-row text-center>
        <ion-col col-3 align-self-center>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <ion-title>
            <img src="../assets/imgs/qme_web_light.png" />
          </ion-title>
        </ion-col>
        <ion-col col-3 align-self-center>
          <ion-icon text-right name="cart"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar> -->
</ion-header>


<ion-content class="background">
  <div *ngIf="notChosen">
    <ion-searchbar (ionInput)="getFoodCourt($event)"></ion-searchbar>

      <ion-card *ngFor="let foodcourt of foodCourts">
        <button ion-item (click)="navFoodCourt($event, foodcourt)" style="background-color:white">
          <img src="http://{{myIPAddress}}/QueueMeSystemJsf/queueme-uploads/foodCourtLogos/{{foodcourt.fileURL}}">
          <!-- <img src="http://{{myIPAddress}}:8080/queueme-uploads/foodCourtLogos/{{foodcourt.fileURL}}"> -->
          
          <h2 style="font-weight:bold; margin-top: 15px">{{foodcourt.name}}</h2>
          <h3 style="color: #696969"> {{foodcourt.address}}</h3>
          <h3 style="color: #696969"> S{{foodcourt.postalCode}}</h3>
        </button>
      </ion-card>
   
  <ion-content>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  
  
  </div>



  <div *ngIf="errorMessage" class="errorText">
    {{errorMessage}}
  </div>
  <!-- 
  <div *ngIf="!notChosen" style="text-align: center">
    <h3>Hi, You're currently in: </h3>
    {{name}}
    <br/>

    <button ion-button block (click)="clear()">
      Clear
    </button>
  </div> -->

  <!-- <div *ngIf="notChosen">
    <ion-item>
      <ion-label>FoodCourt</ion-label>
      <ion-select (ionChange)="clickOption($event)" [(ngModel)]="fcourt">
        <ion-option *ngFor="let foodCourt of foodCourts" [value]="foodCourt">{{foodCourt.name}}</ion-option>
      </ion-select>
    </ion-item>
  </div> -->

  <!-- <div style="padding-top: 3em">
    <ion-slides>
      <ion-slide>
        <img src="http://localhost:8080/queueme-uploads/foodPhotos/chicken_rice.png" />
      </ion-slide>
      <ion-slide>
        <img src="http://localhost:8080/queueme-uploads/foodPhotos/hotplate.png" />
      </ion-slide>
      <ion-slide>
        <img src="http://localhost:8080/queueme-uploads/foodPhotos/beef_horfun.png" />
      </ion-slide>
    </ion-slides>
  </div> -->



</ion-content>