<!--
  Generated template for the ShoppingCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shopping Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
  <div *ngIf="!haveItems">
    <h1 style="text-align: center; margin-top: 7em">No items in cart</h1>
  </div>
  <div *ngIf="haveItems">
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <h5>S/N</h5>
        </ion-col>
        <ion-col col-3>
          <h5>Item Name</h5>
        </ion-col>
        <ion-col col-2>
          <h5>Qty</h5>
        </ion-col>
        <ion-col col-3>
          <h5>Special Req</h5>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row *ngFor="let lineItem of lineItems">
        <ion-col col-2>{{lineItem.serialNumber}}</ion-col>
        <ion-col col-3>{{lineItem.menuItemEntity.menuItemName}}</ion-col>
        <ion-col col-2>{{lineItem.quantity}}</ion-col>
        <ion-col col-3>{{lineItem.specialRequest}}</ion-col>
        <ion-col>
          <ion-icon style="font-size: 20px" name="close" (click)="removeItem(lineItem)">
          </ion-icon>
        </ion-col>
      </ion-row>
      <br/>
      <ion-row>
        <ion-col col-7>
          <h5>Total Quantity:</h5>
        </ion-col>
        <ion-col col-5>
          <h5>{{totalQuantity}}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-7>
          <h5>Total Amount:</h5>
        </ion-col>
        <ion-col col-5>
          <h5>${{totalAmount}}</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
        <ion-label color="primary">Dining Options</ion-label>
    <ion-select [(ngModel)]="diningOptions">
      <ion-option value="false">Dine in</ion-option>
      <ion-option value="true">Takeaway</ion-option>
      <!-- <ion-item>
        <ion-label>Dine in</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Takeaway</ion-label>
        <ion-radio value="true"></ion-radio>
      </ion-item> -->
    </ion-select>
    </ion-item>
    <ion-list>
      <br/>
      <div *ngIf="creditCard">
        <ion-row>
          <ion-col align-self-start>
            <ion-label>{{creditCard.cardNo}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="!creditCard">
        <ion-row>
          <ion-col align-self-start>
              <p-inputMask mask="9999-9999-9999-9999" name="cardNum" [(ngModel)]="cardNum" placeholder="Enter Credit Card Details: xxxx-xxxx-xxxx-xxxx"></p-inputMask>
            <!-- <ion-input placeholder="Enter Credit Card Details: xxxx-xxxx-xxxx-xxxx " [(ngModel)]="cardNum"></ion-input> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-start>
            <ion-input placeholder="Name: " [(ngModel)]="cardName"></ion-input>
          </ion-col>
          <ion-col align-self-center>
              <p style="color: #a9a9a9">Save credit card: </p>
            </ion-col>
            <ion-col align-self-center>
              <ion-checkbox [(ngModel)]="saveCreditCard"></ion-checkbox>
            </ion-col>
        </ion-row>

      </div>
      <ion-row justify-content-around>
        <ion-col align-self-start>
            <p-inputMask mask="999" name="cvv" [(ngModel)]="cvv" placeholder="cvv: xxx"></p-inputMask>
          <!-- <ion-input placeholder="Enter cvv" type="number" [(ngModel)]="cvv" max="3" min="3"></ion-input> -->
        </ion-col>
        <ion-col align-self-end>
          <ion-datetime placeholder="Expiry date" type="number" displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" min="2018-04" max="2030-12" [(ngModel)]="expDate"></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-list>



    <button ion-button block (click)="showActionSheet()">
      Select credit card
    </button>
    <div>
      <button ion-button color="queueme-orange" ion-button full (click)="doCheckout()">Checkout</button>
    </div>

  </div>
</ion-content>