<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Orders</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <div *ngIf="!haveItems">
        <h1 style="text-align: center; margin-top: 7em">You have not made any order yet</h1>
      </div>
    <div *ngIf="haveItems">
    <ion-card *ngFor="let saleTransactionEntity of saleTransactionEntities">
        <ion-item (click)="openOrderItem($event, saleTransactionEntity)">   
        <img src="http://{{myIPAddress}}:8080/queueme-uploads/foodCourtLogos/{{saleTransactionEntity.saleTransactionLineItemEntities[0].menuItemEntity.vendorEntity.foodCourtEntity.fileURL}}">
        <h2 style="font-weight:bold; margin-top: 15px">{{saleTransactionEntity.saleTransactionLineItemEntities[0].menuItemEntity.vendorEntity.foodCourtEntity.name}}</h2>
        <h3 style="color: #696969"> {{saleTransactionEntity.transactionDateTime | date:'short'}}</h3>
          <div style="float: right;">
            <ion-card-content> <b>Total: </b>${{saleTransactionEntity.totalAmount}} </ion-card-content>
      </div>
    </ion-item>
      </ion-card>
      </div>
</ion-content>
