<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Saved Credit Card</ion-title>
      <!-- <ion-buttons end>
          <button ion-button icon-only padding-right>
            <p> Edit</p>
          </button>
        </ion-buttons> -->
    </ion-navbar>
  </ion-header>


<ion-content padding>
    
  <br>  
  <div align="center"><h5>Select a credit card as the default.</h5></div>
    <br>

    <ion-card radio-group [(ngModel)]="radioGroup" *ngFor="let creditCard of creditCards" >
      <!-- <ion-card *ngFor="let creditCard of creditCards"> -->
        <ion-card-header>{{creditCard.name}}
          <ion-icon style="float: right;" name="ios-remove-circle-outline" (click)="deleteCard($event, creditCard)">
              <!-- <ion-icon name="ios-remove-circle-outline"(click)="selectedCard()"></ion-icon> -->
            </ion-icon>
        <!-- <ion-item> -->
          </ion-card-header>
          <ion-card-header>{{creditCard.cardNo}} <ion-radio style="float: right;" (ionSelect)="selectedCard($event, creditCard)">
            </ion-radio>  </ion-card-header>
          <!-- <ion-radio (ionSelect)="selectedCard($event, creditCard)">
            </ion-radio>  -->
          <!-- <ion-label><h2>{{creditCard.cardNo}}</h2>
        </ion-label> -->
         
          <!-- <ion-toggle (ionSelect)="selectedCard($event, creditCard)"></ion-toggle> -->
        <!-- </ion-item>          -->
        </ion-card> 

      <ion-item>
          <button ion-button block (click)="addCard()">
        Add Card
          </button>
          </ion-item>
 

</ion-content>
