<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Saved Credit Card</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <br>
  <div align="center">
    <h5>Select a credit card as the default.</h5>
  </div>
  <br>

  <ion-card radio-group [(ngModel)]="radioGroup" *ngFor="let creditCard of creditCards">
    <!-- <ion-card *ngFor="let creditCard of creditCards"> -->
    <ion-item>
      <ion-label>
        <h2>{{creditCard.cardNo}}</h2>
        <br>
        <p>{{creditCard.name}}</p>
      </ion-label>
      <ion-radio item-right [value]="creditCard.creditCardId" [checked]="creditCard.defaultCard" (ionSelect)="selectedCard($event, creditCard)">
      </ion-radio>

    </ion-item>
  </ion-card>

  <ion-item>
    <button ion-button block (click)="addCard()">
      Add Card
    </button>
  </ion-item>


</ion-content>
