page-foodcourt {

}

ion-card-title{
    display:block;
    text-align: center;
}

.button-round-md{
    color:#ffa15c;
    border-color:#ffa15c;
}

.ui-rating a {
    color: #ffa15c !important;
    
}