page-foodcourt {

}

ion-card-title{
    display:block;
    text-align: center;
}

.button-round-md{
    color:goldenrod;
    border-color:goldenrod;
}

.ui-rating a {
    color: orange!important;
    
}